<!DOCTYPE html>
<html>
<head>
  <title>Canvas Go | Paint Your Picture</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:300,700' rel='stylesheet' type='text/css'>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="top-bar"></div>
<header class="wrap">
  <div class="logo">Canvas Go. Paint your picture.</div>
  <nav>
    <ul>
      <li><a class="active" href="index.html">Home</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>
<!-- end header -->

<%= yield %>

<!-- footer -->
<div class="footer-container wrap">
  <footer>
    Footer info
  </footer>
</div>

</body>
</html>
